@using schaatswedstrijden.Controllers;

@{
    ViewData["Title"] = "Wedstrijden";
    CompetitionController competitionController = new CompetitionController();
}


<h1 id="wedstrijd">Wedstrijden</h1>
<select onchange="val()" id="select_id">
    <option value="">Alle banen</option>
    <option value="ALK">Alkmaar (IJsbaan de Meent)</option>
    <option value="AMS">Amsterdam (Stichting IJscomplex Jaap Edenbaan)</option>
    <option value="ASS">Assen (Sport- en Evenementencentrum de Bonte Wever)</option>
    <option value="BRE">Breda (Kunstijsbaan Breda)</option>
    <option value="DNH">Den Haag (De Uithof)</option>
    <option value="DEV">Deventer (Sport- en Recreatiecentrum de Scheg)</option>
    <option value="DRO">Dronten (Leisure World Ice Center)</option>
    <option value="EVN">Eindhoven (IJssportcentrum Eindhoven)</option>
    <option value="ENS">Enschede (IJsbaan Twente)</option>
    <option value="GEL">Geleen (Glanerbrook)</option>
    <option value="GRO">Groningen (Kardinge)</option>
    <option value="HAA">Haarlem (Kunstijsbaan Kennemerland)</option>
    <option value="HVN">Heerenveen (Thialf)</option>
    <option value="HRN">Hoorn (Kunstijsbaan de Westfries)</option>
    <option value="LEE">Leeuwarden (Elfstedenhal)</option>
    <option value="NYM">Nijmegen (Triavium)</option>
    <option value="TIL">Tilburg (Ireen Wüst IJsbaan)</option>
    <option value="UTR">Utrecht (Vechtsebanen)</option>
</select>
<br /><br />
<div class="tg-wrap">
    <table id="competitions" class="tg" style="width: 100%;">
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    setVenueFromCookie()
    getCompetitions(@Html.Raw(competitionController.GetAllCompetitionsRAW()));
</script>