@using schaatswedstrijden.Controllers;

@{
    ViewData["Title"] = "Home Page";
    CompetitionController competitionController = new CompetitionController();
    List<Root> competitions = competitionController.GetAllCompetitions();
    <ul>
    @foreach (Root competition in competitions)
    {
        <li>@Html.ActionLink(competition.name, "Wedstrijd", new { ID = competition.id})</li>
    }
    </ul>
}