@using schaatswedstrijden.Controllers;

@{
    ViewData["Title"] = "Home Page";
    HomeController homeController = new HomeController();
    List<Root> competitions = homeController.GetCompetitions();

    foreach (Root competition in competitions)
    {
        <p>@competition.name</p>
    }
}