<div>
    <br /><br />
    <a href="~/1000 meter.pdf" target="_blank"><img src="https://dabuttonfactory.com/button.png?t=1000+meter&f=Roboto-Bold&ts=40&tc=fff&hp=50&vp=40&c=11&bgt=unicolored&bgc=30bdee" /></a><br /><br />
    <a href="~/1500 meter.pdf" target="_blank"><img src="https://dabuttonfactory.com/button.png?t=1500+meter&f=Roboto-Bold&ts=40&tc=fff&hp=50&vp=40&c=11&bgt=unicolored&bgc=30bdee" /></a><br /><br />
    <a href="~/3000 meter.pdf" target="_blank"><img src="https://dabuttonfactory.com/button.png?t=3000+meter&f=Roboto-Bold&ts=40&tc=fff&hp=50&vp=40&c=11&bgt=unicolored&bgc=30bdee" /></a><br /><br />
    <a href="~/5000 meter.pdf" target="_blank"><img src="https://dabuttonfactory.com/button.png?t=5000+meter&f=Roboto-Bold&ts=40&tc=fff&hp=50&vp=40&c=11&bgt=unicolored&bgc=30bdee" /></a><br /><br />
</div>
<i>Tijdschema's van <a href="https://www.striene.nl/schaatsen-2/wedstrijdgericht/schaatsschema">www.striene.nl</a></i>