/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets... */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.context {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.tg {
    border-collapse: collapse;
    border-color: #aaa;
    border-spacing: 0;
}

    .tg td {
        background-color: #fff;
        border-color: #aaa;
        border-style: solid;
        border-width: 0px;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        background-color: #52bdff;
        border-color: #aaa;
        border-style: solid;
        border-width: 0px;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-ul38 {
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
        top: -1px;
        vertical-align: top;
        will-change: transform
    }

    .tg .tg-j1i3 {
        border-color: inherit;
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
        top: -1px;
        vertical-align: top;
        will-change: transform
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-l9bf {
        font-style: italic;
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
        top: -1px;
        vertical-align: top;
        will-change: transform
    }

    .tg .tg-dg7a {
        background-color: #ebfcf9;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-buh4 {
        background-color: #f9f9f9;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: top
    }

.tg-sort-header::-moz-selection {
    background: 0 0
}

.tg-sort-header::selection {
    background: 0 0
}

.tg-sort-header {
    cursor: pointer
}

    .tg-sort-header:after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden
    }

    .tg-sort-header:hover:after {
        visibility: visible
    }

.tg-sort-asc:after, .tg-sort-asc:hover:after, .tg-sort-desc:after {
    visibility: visible;
    opacity: .4
}

.tg-sort-desc:after {
    border-bottom: none;
    border-width: 5px 5px 0
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

        .tg col {
            width: auto !important;
        }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.wi {
    max-width: 500px;
}

.label {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    margin-right: 5px;
}

.cat {
    background-color: #3498db;
}

.nr {
    background-color: #df691a;
}

.nowrap {
    white-space: nowrap;
}
